<section class="welcome-page" id="main-header">

    <div class="jumbotron welcome-jumbotron" id="owl-hero-top" style="background-image: url(img/sliders/Slide.jpg)">
        <div class="item" ng-controller="mainCtrl">
            <div class="caption">
                <h3 style="color: white; padding-top:130px">寻找 / 分享 / 诉说</h3>
                <h1 style="  padding: 30px 0;"><span>聚</span>音乐</h1>
                <form class="form-inline" name="searchFrom" ng-submit="toSearch()">
                    <fieldset>
                        <div class="form-group">
                            <label class="sr-only">Search</label>
                            <input type="text" ng-model="searchText" class="form-search" placeholder="Enter" required>
                        </div>
                        <button type="submit" class="btn btn-transparent" ng-disabled="searchForm.$invalid">
                            搜索
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Welcome
============================================= -->


<section id="welcome">
    <div class="container">
        <h2>欢迎来到 <span>聚音乐</span></h2>
        <hr class="sep">
        <p>寻找版权音乐</p>
        <img class="img-responsive center-block wow fadeInUp" data-wow-delay=".3s" src="img/welcome/logo.png"
             alt="logo">
    </div>
</section>

<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">....</a></div>
<!-- Services
============================================= -->
<section id="services">
    <div class="container">
        <h2>What We Do</h2>
        <hr class="light-sep">
        <p>We Can Do Crazy Things</p>
        <div class="services-box">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-4">
                    <a ui-sref="search" style="text-decoration: none;">
                        <div class="media-left"><span class="icon-mobile"></span></div>
                        <div class="media-body">
                            <h3>搜索</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent
                                sed nisi eleifend.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a ui-sref="ranking" style="text-decoration: none;">
                        <div class="media-left"><span class="icon-lightbulb"></span></div>
                        <div class="media-body">
                            <h3>榜单</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent
                                sed nisi eleifend.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="" data-toggle="modal" data-target="#appModal" style="text-decoration: none;">
                        <div class="media-left"><span class="icon-compass"></span></div>
                        <div class="media-body">
                            <h3>评论猜歌</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent
                                sed nisi eleifend.</p>
                        </div>
                    </a>
                </div>

                <div class="row wow fadeInUp" data-wow-delay=".6s">

                    <div class="col-md-4">
                        <a href="" data-toggle="modal" data-target="#appModal" style="text-decoration: none;">
                            <div class="media-left"><span class="icon-tools"></span></div>
                            <div class="media-body">
                                <h3>分享</h3>
                                <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                                    Praesent sed nisi eleifend.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" data-toggle="modal" data-target="#appModal" style="text-decoration: none;">
                            <div class="media-left"><span class="icon-wallet"></span></div>
                            <div class="media-body">
                                <h3>附近的人</h3>
                                <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                                    Praesent sed nisi eleifend.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" data-toggle="modal" data-target="#appModal" style="text-decoration: none;">
                            <div class="media-left"><span class="icon-adjustments"></span></div>
                            <div class="media-body">
                                <h3>AR游戏</h3>
                                <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                                    Praesent sed nisi eleifend.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio
============================================= -->
<section id="portfolio">
    <div class="container-fluid">
        <h2>榜单</h2>
        <hr class="sep">
        <p>资讯</p>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" href="" ng-click="toRank('rank')">
                    <img href="ranking.html" src="img/portfolio/1.jpeg" class="img-responsive" alt="1">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rank
                            </div>
                            <div class="project-name">
                                简介
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a ng-click="toRank('rank2')" href="" class="portfolio-box">
                    <img src="img/portfolio/2.jpeg" class="img-responsive" alt="2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rank2
                            </div>
                            <div class="project-name">
                                简介
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a ng-click="toRank('rank3')" href="" class="portfolio-box">
                    <img src="img/portfolio/3.jpeg" class="img-responsive" alt="3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rank3
                            </div>
                            <div class="project-name">
                                简介
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a ng-click="toRank('rank4')" href="" class="portfolio-box">
                    <img src="img/portfolio/4.jpeg" class="img-responsive" alt="4">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rank4
                            </div>
                            <div class="project-name">
                                简介
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a ng-click="toRank('rank5')" href="" class="portfolio-box">
                    <img src="img/portfolio/5.jpeg" class="img-responsive" alt="5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rank5
                            </div>
                            <div class="project-name">
                                简介
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a ng-click="toRank('rank6')" href="" class="portfolio-box">
                    <img src="img/portfolio/6.jpeg" class="img-responsive" alt="6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rank6
                            </div>
                            <div class="project-name">
                                简介
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- App Download
============================================= -->
<section id="appDownload">
    <div class="container">
        <h2>APP </h2>
        <hr class="light-sep">
        <p>扫描二维码以下载APP</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="appCode">
                    <img class="img-responsive center-block" src="img/welcome/logo.png" alt="2">
                    <h4>聚音乐</h4>
                    <p>简介</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials
============================================= -->
<section id="testimonials">
    <div class="container">
        <h2>评论</h2>
        <hr class="light-sep">
        <p>What Clients Say About Us</p>
    </div>
</section>
<!-- Contact Us
============================================= -->
<section id="contact">
    <div class="container">
        <h2>联系我们</h2>
        <hr class="sep">
        <p>Get In Touch</p>
        <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                </div>
                <a href="#" class="btn-block">发送</a>
            </form>
        </div>
    </div>
</section>
